# Project Logistic

In [1]:
import pandas as pd

# Step 1: Data reading from Excel

In [2]:
excel = pd.ExcelFile('DataSet1.xlsx')
FixCost = pd.read_excel(excel,'Fix Cost')
MatrixCost = pd.read_excel(excel,'Matrix Cost')
Demand = pd.read_excel(excel,'DemandNode')

In [3]:
FixCost

            Plant    Cost
0       New  York  150600
1         Houston  180363
2          Denver  800230
3         Seattle  320480
4         Chicago  694230
5     Los Angeles  153002
6   San Francisco  200350
7  Salt Lake City  485423
8       Baltimore  162453
9           Miami  500241

In [4]:
MatrixCost

,CITY,New York,Houston,Denver,Seattle,Chicago,Los Angeles,San Francisco,Salt Lake City,Baltimore,Miami
0,New York,0,2620,2865,4590,1270,4500,4670,3500,310,2060
1,Houston,2620,0,1660,3770,1740,2490,3100,2380,2330,1910
2,Denver,2865,1660,0,2120,1610,1635,2020,840,2705,3230
3,Seattle,4590,3770,2120,0,3320,1830,1300,1340,4450,5310
4,Chicago,1270,1740,1610,3320,0,3250,3430,2250,1130,2220
5,Los Angeles,4500,2490,1635,1830,3250,0,615,1110,4260,4400
6,San Francisco,4670,3100,2020,1300,3430,615,0,1190,4540,5010
7,Salt Lake City,3500,2380,840,1340,2250,1110,1190,0,3360,4080
8,Baltimore,310,2330,2705,4450,1130,4260,4540,3360,0,1770
9,Miami,2060,1910,3230,5310,2220,4400,5010,4080,1770,0

In [5]:
Demand

             City  Demand
0       New  York     646
1         Houston     234
2          Denver     189
3         Seattle     259
4         Chicago      65
5     Los Angeles     745
6   San Francisco     508
7  Salt Lake City     154
8       Baltimore     370
9           Miami     418

## Creating different sets for our problem

In [6]:
nodos = [k for k in range(len(Demand))]
nodos

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
arc = [(i,j) for i in nodos for j in nodos]
arc

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

### Initializing differents sets

In [8]:
#Initializing demand of each node
demand={k: row['Demand'] for k, row in Demand.iterrows()}
demand

{0: 646, 1: 234, 2: 189, 3: 259, 4: 65, 5: 745, 6: 508, 7: 154, 8: 370, 9: 418}

In [9]:
#Initializing cost of building plan in a giving node
fixcost={k: row['Cost'] for k, row in FixCost.iterrows()}
fixcost

{0: 150600,
 1: 180363,
 2: 800230,
 3: 320480,
 4: 694230,
 5: 153002,
 6: 200350,
 7: 485423,
 8: 162453,
 9: 500241}

In [10]:
#Initializing distance matrix 
c=[]
for i in nodos:
    for name in MatrixCost.columns[1:]:
        c.append(MatrixCost[name][i])
        
d = {arc[k]: c[k] for k in range(len(c))}
d

{(0, 0): 0,
 (0, 1): 2620,
 (0, 2): 2865,
 (0, 3): 4590,
 (0, 4): 1270,
 (0, 5): 4500,
 (0, 6): 4670,
 (0, 7): 3500,
 (0, 8): 310,
 (0, 9): 2060,
 (1, 0): 2620,
 (1, 1): 0,
 (1, 2): 1660,
 (1, 3): 3770,
 (1, 4): 1740,
 (1, 5): 2490,
 (1, 6): 3100,
 (1, 7): 2380,
 (1, 8): 2330,
 (1, 9): 1910,
 (2, 0): 2865,
 (2, 1): 1660,
 (2, 2): 0,
 (2, 3): 2120,
 (2, 4): 1610,
 (2, 5): 1635,
 (2, 6): 2020,
 (2, 7): 840,
 (2, 8): 2705,
 (2, 9): 3230,
 (3, 0): 4590,
 (3, 1): 3770,
 (3, 2): 2120,
 (3, 3): 0,
 (3, 4): 3320,
 (3, 5): 1830,
 (3, 6): 1300,
 (3, 7): 1340,
 (3, 8): 4450,
 (3, 9): 5310,
 (4, 0): 1270,
 (4, 1): 1740,
 (4, 2): 1610,
 (4, 3): 3320,
 (4, 4): 0,
 (4, 5): 3250,
 (4, 6): 3430,
 (4, 7): 2250,
 (4, 8): 1130,
 (4, 9): 2220,
 (5, 0): 4500,
 (5, 1): 2490,
 (5, 2): 1635,
 (5, 3): 1830,
 (5, 4): 3250,
 (5, 5): 0,
 (5, 6): 615,
 (5, 7): 1110,
 (5, 8): 4260,
 (5, 9): 4400,
 (6, 0): 4670,
 (6, 1): 3100,
 (6, 2): 2020,
 (6, 3): 1300,
 (6, 4): 3430,
 (6, 5): 615,
 (6, 6): 0,
 (6, 7): 1190,
 (6, 8): 4540,
 (6, 9): 5010,
 (7, 0): 3500,
 (7, 1): 2380,
 (7, 2): 840,
 (7, 3): 1340,
 (7, 4): 2250,
 (7, 5): 1110,
 (7, 6): 1190,
 (7, 7): 0,
 (7, 8): 3360,
 (7, 9): 4080,
 (8, 0): 310,
 (8, 1): 2330,
 (8, 2): 2705,
 (8, 3): 4450,
 (8, 4): 1130,
 (8, 5): 4260,
 (8, 6): 4540,
 (8, 7): 3360,
 (8, 8): 0,
 (8, 9): 1770,
 (9, 0): 2060,
 (9, 1): 1910,
 (9, 2): 3230,
 (9, 3): 5310,
 (9, 4): 2220,
 (9, 5): 4400,
 (9, 6): 5010,
 (9, 7): 4080,
 (9, 8): 1770,
 (9, 9): 0}

# Step 2: Building the model in CPLEX

In [11]:
from docplex.mp.model import Model

In [12]:
mdl=Model('F_Location1')

### Variable declarations

In [13]:
x=mdl.binary_var_dict(nodos,name = 'x')

In [14]:
y=mdl.integer_var_dict(arc,name = 'y')

### Objective function

In [15]:
#for k in nodos:
mdl.minimize(mdl.sum(x[i]*fixcost[i] for i in nodos)+0.01*mdl.sum(y[(k,j)]*d[(k,j)]*demand[k] for k in nodos for j in nodos))

### Restrictions

In [16]:
#Arcos
for k in nodos:
    mdl.add_constraint(mdl.sum(y[(k,j)] for j in nodos)==1)

In [17]:
#Arcos
for k in nodos:
    for j in nodos:
        mdl.add_constraint(y[(k,j)] <= x[j])

In [18]:
print(mdl.export_to_string())

\ This file has been generated by DOcplex
\ ENCODING=ISO-8859-1
\Problem name: F_Location1

Minimize
 obj: 150600 x_0 + 180363 x_1 + 800230 x_2 + 320480 x_3 + 694230 x_4
      + 153002 x_5 + 200350 x_6 + 485423 x_7 + 162453 x_8 + 500241 x_9
      + 16925.200000000001 y_0_1 + 18507.900000000001 y_0_2
      + 29651.400000000001 y_0_3 + 8204.200000000001 y_0_4 + 29070 y_0_5
      + 30168.200000000001 y_0_6 + 22610 y_0_7 + 2002.600000000000 y_0_8
      + 13307.600000000000 y_0_9 + 6130.800000000000 y_1_0
      + 3884.400000000000 y_1_2 + 8821.800000000001 y_1_3
      + 4071.600000000000 y_1_4 + 5826.600000000000 y_1_5 + 7254 y_1_6
      + 5569.200000000000 y_1_7 + 5452.200000000000 y_1_8
      + 4469.400000000001 y_1_9 + 5414.850000000000 y_2_0
      + 3137.400000000000 y_2_1 + 4006.800000000000 y_2_3
      + 3042.900000000000 y_2_4 + 3090.150000000000 y_2_5
      + 3817.800000000000 y_2_6 + 1587.600000000000 y_2_7
      + 5112.450000000000 y_2_8 + 6104.700000000000 y_2_9
      + 11888.100000000000 y_3_0 + 9764.300000000001 y_3_1
      + 5490.800000000000 y_3_2 + 8598.799999999999 y_3_4
      + 4739.700000000000 y_3_5 + 3367 y_3_6 + 3470.600000000000 y_3_7
      + 11525.500000000000 y_3_8 + 13752.900000000000 y_3_9
      + 825.500000000000 y_4_0 + 1131 y_4_1 + 1046.500000000000 y_4_2
      + 2158 y_4_3 + 2112.500000000000 y_4_5 + 2229.500000000000 y_4_6
      + 1462.500000000000 y_4_7 + 734.500000000000 y_4_8 + 1443 y_4_9
      + 33525 y_5_0 + 18550.500000000000 y_5_1 + 12180.750000000000 y_5_2
      + 13633.500000000000 y_5_3 + 24212.500000000000 y_5_4
      + 4581.750000000000 y_5_6 + 8269.500000000000 y_5_7 + 31737 y_5_8
      + 32780 y_5_9 + 23723.600000000002 y_6_0 + 15748 y_6_1
      + 10261.600000000000 y_6_2 + 6604 y_6_3 + 17424.400000000001 y_6_4
      + 3124.200000000000 y_6_5 + 6045.200000000000 y_6_7
      + 23063.200000000001 y_6_8 + 25450.799999999999 y_6_9 + 5390 y_7_0
      + 3665.200000000000 y_7_1 + 1293.600000000000 y_7_2
      + 2063.600000000000 y_7_3 + 3465 y_7_4 + 1709.400000000000 y_7_5
      + 1832.600000000000 y_7_6 + 5174.400000000001 y_7_8
      + 6283.200000000000 y_7_9 + 1147 y_8_0 + 8621 y_8_1
      + 10008.500000000000 y_8_2 + 16465 y_8_3 + 4181 y_8_4 + 15762 y_8_5
      + 16798 y_8_6 + 12432 y_8_7 + 6549 y_8_9 + 8610.799999999999 y_9_0
      + 7983.800000000000 y_9_1 + 13501.400000000000 y_9_2
      + 22195.799999999999 y_9_3 + 9279.600000000000 y_9_4 + 18392 y_9_5
      + 20941.799999999999 y_9_6 + 17054.400000000001 y_9_7
      + 7398.600000000000 y_9_8
Subject To
 c1: y_0_0 + y_0_1 + y_0_2 + y_0_3 + y_0_4 + y_0_5 + y_0_6 + y_0_7 + y_0_8
     + y_0_9 = 1
 c2: y_1_0 + y_1_1 + y_1_2 + y_1_3 + y_1_4 + y_1_5 + y_1_6 + y_1_7 + y_1_8
     + y_1_9 = 1
 c3: y_2_0 + y_2_1 + y_2_2 + y_2_3 + y_2_4 + y_2_5 + y_2_6 + y_2_7 + y_2_8
     + y_2_9 = 1
 c4: y_3_0 + y_3_1 + y_3_2 + y_3_3 + y_3_4 + y_3_5 + y_3_6 + y_3_7 + y_3_8
     + y_3_9 = 1
 c5: y_4_0 + y_4_1 + y_4_2 + y_4_3 + y_4_4 + y_4_5 + y_4_6 + y_4_7 + y_4_8
     + y_4_9 = 1
 c6: y_5_0 + y_5_1 + y_5_2 + y_5_3 + y_5_4 + y_5_5 + y_5_6 + y_5_7 + y_5_8
     + y_5_9 = 1
 c7: y_6_0 + y_6_1 + y_6_2 + y_6_3 + y_6_4 + y_6_5 + y_6_6 + y_6_7 + y_6_8
     + y_6_9 = 1
 c8: y_7_0 + y_7_1 + y_7_2 + y_7_3 + y_7_4 + y_7_5 + y_7_6 + y_7_7 + y_7_8
     + y_7_9 = 1
 c9: y_8_0 + y_8_1 + y_8_2 + y_8_3 + y_8_4 + y_8_5 + y_8_6 + y_8_7 + y_8_8
     + y_8_9 = 1
 c10: y_9_0 + y_9_1 + y_9_2 + y_9_3 + y_9_4 + y_9_5 + y_9_6 + y_9_7 + y_9_8
      + y_9_9 = 1
 c11: y_0_0 - x_0 <= 0
 c12: y_0_1 - x_1 <= 0
 c13: y_0_2 - x_2 <= 0
 c14: y_0_3 - x_3 <= 0
 c15: y_0_4 - x_4 <= 0
 c16: y_0_5 - x_5 <= 0
 c17: y_0_6 - x_6 <= 0
 c18: y_0_7 - x_7 <= 0
 c19: y_0_8 - x_8 <= 0
 c20: y_0_9 - x_9 <= 0
 c21: y_1_0 - x_0 <= 0
 c22: y_1_1 - x_1 <= 0
 c23: y_1_2 - x_2 <= 0
 c24: y_1_3 - x_3 <= 0
 c25: y_1_4 - x_4 <= 0
 c26: y_1_5 - x_5 <= 0
 c27: y_1_6 - x_6 <= 0
 c28: y_1_7 - x_7 <= 0
 c29: y_1_8 - x_8 <= 0
 c30: y_1_9 - x_9 <= 0
 c31: y_2_0 - x_0 <= 0
 c32: y_2_1 - x_1 <= 0
 c33: y_2_2 - x_2 <= 0
 c34: y_2_3 - x_3 <= 0
 c35: y_2_4 - x_4 <= 0
 c36: y_2_5 - x_5 <= 0
 c37: y_2_6 - x_6 <= 0
 c38: y_2_7 - x_7 <= 0
 c39: y_2_8 - x_8 <= 0
 c40: y_2_9 - x_9 <= 0
 c41: y_3_0 - x_0 <= 0
 c42: y_3_1 - x_1 <= 0
 c43: y_3_2 - x_2 <= 0
 c44: y_3_3 - x_3 <= 0
 c45: y_3_4 - x_4 <= 0
 c46: y_3_5 - x_5 <= 0
 c47: y_3_6 - x_6 <= 0
 c48: y_3_7 - x_7 <= 0
 c49: y_3_8 - x_8 <= 0
 c50: y_3_9 - x_9 <= 0
 c51: y_4_0 - x_0 <= 0
 c52: y_4_1 - x_1 <= 0
 c53: y_4_2 - x_2 <= 0
 c54: y_4_3 - x_3 <= 0
 c55: y_4_4 - x_4 <= 0
 c56: y_4_5 - x_5 <= 0
 c57: y_4_6 - x_6 <= 0
 c58: y_4_7 - x_7 <= 0
 c59: y_4_8 - x_8 <= 0
 c60: y_4_9 - x_9 <= 0
 c61: y_5_0 - x_0 <= 0
 c62: y_5_1 - x_1 <= 0
 c63: y_5_2 - x_2 <= 0
 c64: y_5_3 - x_3 <= 0
 c65: y_5_4 - x_4 <= 0
 c66: y_5_5 - x_5 <= 0
 c67: y_5_6 - x_6 <= 0
 c68: y_5_7 - x_7 <= 0
 c69: y_5_8 - x_8 <= 0
 c70: y_5_9 - x_9 <= 0
 c71: y_6_0 - x_0 <= 0
 c72: y_6_1 - x_1 <= 0
 c73: y_6_2 - x_2 <= 0
 c74: y_6_3 - x_3 <= 0
 c75: y_6_4 - x_4 <= 0
 c76: y_6_5 - x_5 <= 0
 c77: y_6_6 - x_6 <= 0
 c78: y_6_7 - x_7 <= 0
 c79: y_6_8 - x_8 <= 0
 c80: y_6_9 - x_9 <= 0
 c81: y_7_0 - x_0 <= 0
 c82: y_7_1 - x_1 <= 0
 c83: y_7_2 - x_2 <= 0
 c84: y_7_3 - x_3 <= 0
 c85: y_7_4 - x_4 <= 0
 c86: y_7_5 - x_5 <= 0
 c87: y_7_6 - x_6 <= 0
 c88: y_7_7 - x_7 <= 0
 c89: y_7_8 - x_8 <= 0
 c90: y_7_9 - x_9 <= 0
 c91: y_8_0 - x_0 <= 0
 c92: y_8_1 - x_1 <= 0
 c93: y_8_2 - x_2 <= 0
 c94: y_8_3 - x_3 <= 0
 c95: y_8_4 - x_4 <= 0
 c96: y_8_5 - x_5 <= 0
 c97: y_8_6 - x_6 <= 0
 c98: y_8_7 - x_7 <= 0
 c99: y_8_8 - x_8 <= 0
 c100: y_8_9 - x_9 <= 0
 c101: y_9_0 - x_0 <= 0
 c102: y_9_1 - x_1 <= 0
 c103: y_9_2 - x_2 <= 0
 c104: y_9_3 - x_3 <= 0
 c105: y_9_4 - x_4 <= 0
 c106: y_9_5 - x_5 <= 0
 c107: y_9_6 - x_6 <= 0
 c108: y_9_7 - x_7 <= 0
 c109: y_9_8 - x_8 <= 0
 c110: y_9_9 - x_9 <= 0

Bounds
 0 <= x_0 <= 1
 0 <= x_1 <= 1
 0 <= x_2 <= 1
 0 <= x_3 <= 1
 0 <= x_4 <= 1
 0 <= x_5 <= 1
 0 <= x_6 <= 1
 0 <= x_7 <= 1
 0 <= x_8 <= 1
 0 <= x_9 <= 1

Binaries
 x_0 x_1 x_2 x_3 x_4 x_5 x_6 x_7 x_8 x_9

Generals
 y_0_0 y_0_1 y_0_2 y_0_3 y_0_4 y_0_5 y_0_6 y_0_7 y_0_8 y_0_9 y_1_0 y_1_1 y_1_2
 y_1_3 y_1_4 y_1_5 y_1_6 y_1_7 y_1_8 y_1_9 y_2_0 y_2_1 y_2_2 y_2_3 y_2_4 y_2_5
 y_2_6 y_2_7 y_2_8 y_2_9 y_3_0 y_3_1 y_3_2 y_3_3 y_3_4 y_3_5 y_3_6 y_3_7 y_3_8
 y_3_9 y_4_0 y_4_1 y_4_2 y_4_3 y_4_4 y_4_5 y_4_6 y_4_7 y_4_8 y_4_9 y_5_0 y_5_1
 y_5_2 y_5_3 y_5_4 y_5_5 y_5_6 y_5_7 y_5_8 y_5_9 y_6_0 y_6_1 y_6_2 y_6_3 y_6_4
 y_6_5 y_6_6 y_6_7 y_6_8 y_6_9 y_7_0 y_7_1 y_7_2 y_7_3 y_7_4 y_7_5 y_7_6 y_7_7
 y_7_8 y_7_9 y_8_0 y_8_1 y_8_2 y_8_3 y_8_4 y_8_5 y_8_6 y_8_7 y_8_8 y_8_9 y_9_0
 y_9_1 y_9_2 y_9_3 y_9_4 y_9_5 y_9_6 y_9_7 y_9_8 y_9_9
End

In [197]:
solucion = mdl.solve(log_output=True)

Version identifier: 20.1.0.0 | 2020-11-10 | 9bedb6d68
CPXPARAM_Read_DataCheck                          1
Tried aggregator 1 time.
Reduced MIP has 110 rows, 110 columns, and 300 nonzeros.
Reduced MIP has 110 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.21 ticks)
Found incumbent of value 3757512.600000 after 0.02 sec. (0.26 ticks)
Probing time = 0.00 sec. (0.07 ticks)
Tried aggregator 1 time.
Detecting symmetries...
Reduced MIP has 110 rows, 110 columns, and 300 nonzeros.
Reduced MIP has 110 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.00 sec. (0.24 ticks)
Probing time = 0.00 sec. (0.07 ticks)
Clique table members: 110.
MIP emphasis: balance optimality and feasibility.
MIP search method: dynamic search.
Parallel mode: deterministic, using up to 4 threads.
Root relaxation solution time = 0.00 sec. (0.33 ticks)

        Nodes                                         Cuts/
   Node  Left     Objective  IInf  Best Integer    Best Bound    ItCnt     Gap

*     0+    0                      3757512.6000        0.0000           100.00%
*     0+    0                       610381.6000        0.0000           100.00%
*     0+    0                       247255.6500        0.0000           100.00%
*     0     0      integral     0   236828.5500   236828.5500       91    0.00%
Elapsed time = 0.05 sec. (1.15 ticks, tree = 0.00 MB, solutions = 4)

Root node processing (before b&c):
  Real time             =    0.05 sec. (1.16 ticks)
Parallel b&c, 4 threads:
  Real time             =    0.00 sec. (0.00 ticks)
  Sync time (average)   =    0.00 sec.
  Wait time (average)   =    0.00 sec.
                          ------------
Total (root+branch&cut) =    0.05 sec. (1.16 ticks)

In [198]:
mdl.get_solve_status()

In [199]:
solucion.display()

solution for: F_Location1
objective: 236828.550
x_5 = 1
y_0_5 = 1
y_1_5 = 1
y_2_5 = 1
y_3_5 = 1
y_4_5 = 1
y_5_5 = 1
y_6_5 = 1
y_7_5 = 1
y_8_5 = 1
y_9_5 = 1